body {
  background-color: #fff9f3be;
  width: 500;
}

.logo {
  background-color: #414b3b;
  margin: -60px;
  margin-top: -40px;
  padding-left: 25px;
  padding-top: 60px;
}

.nav-bar {
  display: flex;
  justify-content: center;
  align-content: center;
  color: white;
  background-color: #414b3b;
  margin: -60px;
}

.nav-bar-links ul {
  margin: 55px;
  display: flex;
  font-size: larger;
  font-family: "Raleway", sans-serif;
}

.nav-bar-links li {
  /* removes the dots from the list items */
  list-style: none;
}

.nav-bar-links li a {
  /* removes the line under the list items */
  text-decoration: none;
  cursor: pointer;
  color: white;
  display: block;
  padding-top: 15px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 30px;
  padding-bottom: 0px;
  margin-bottom: -30px;
}

.nav-bar-links li a:hover {
  color: #ab8742;
}

.row1 .row2 {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: center;
  align-content: center;
  height: 1000px;
}
.row1 {
  margin-top: 35px;
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 10px;
}

h3 {
  text-align: center;
  margin-top: -10px;
  font-size: large;
  font-family: "Raleway", sans-serif;
}
h5 {
  text-align: center;
  margin-top: -10px;
  font-size: large;
  font-family: "Raleway", sans-serif;
}

.row2 {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card img {
  width: 300px;
  height: 400px;
  border: 3px solid #414b3b;
  margin: 40px;
  margin-top: 125px;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
  text-align: center;
  margin-bottom: 10px;
}

#btn1 {
  margin-top: -25px;
  margin-left: 25px;
}

#btn2 {
  margin-top: -25px;
  margin-right: 25px;
}

#btn3 {
  margin-top: -25px;
  margin-right: 20px;
  margin-left: -30px;
}

#btn4 {
  margin-top: -10px;
  margin-left: 25px;
  margin-bottom: 30px;
}

#btn5 {
  margin-top: -10px;
  margin-bottom: 30px;
}

#btn6 {
  margin-top: -10px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.view-btn {
  align-content: center;
  border: 0 solid white;
  border-radius: 20px;
  cursor: pointer;
  width: 120px;
  height: 30px;
  text-align: center;
  font-family: "Basier circle", -apple-system, system-ui, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: medium;
  transition: all 0.5s;
  animation: text-color 3s;
}

.view-btn:hover {
  background-color: #414b3b;
  color: #fff9f3;
}

@keyframes text-color {
  0% {
    color: white;
  }
  50% {
    color: grey;
  }
  100% {
    color: black;
  }
}

/* Footer container */

footer {
  margin: 7% -60px -20px -20px;
  color: white;
  background-color: #414b3b;
  padding: -20px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-container ul {
  margin: 55px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: large;
  font-family: "Raleway", sans-serif;
  margin-bottom: -0.05px;
}

.footer-container li {
  /* removes the dots from the list items */
  list-style: none;
}

.footer-container li a {
  /* removes the line under the list items */
  text-decoration: none;
  cursor: pointer;
  color: white;
  display: block;
  /* margin top right bottom left */
  margin: 10px 10px 0px 10px;
}

.footer-container a:hover {
  color: #ab8742;
}

.footer-container i {
  cursor: pointer;
  font-size: 30px;
  /* margin top right bottom left */
  margin: -10px 10px 0px 10px;
}

.footer-container p {
  margin-top: 50px;
  font-family: "Raleway", sans-serif;
  font-size: large;
}

.footer-container i:hover {
  font-size: 35px;
}

.footer-container li a i {
  font-size: 20px;
  margin-left: -1px;
}

.footer-container li a i:hover {
  font-size: 20px;
}
